*{
	margin: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


.header{
	
	background-color: rgba(0,0,0,0.5);
	height: 60px;
	top: 0;
	position: -webkit-sticky;
	position: sticky;
	z-index: 101;
	overflow: hidden;
}

.header .nav{
	display: flex;
	justify-content: center;
	align-items: center;
}


.header .nav a{
	padding: 15px;
	font-family: Cinzel;
	color: white;
	text-align: center;
}

a{
	text-decoration: none;
}

@media screen and (max-width: 645px){
	.header{
		height: 100px;
	}
	.header .nav {
		color: white;
		flex-wrap: wrap;
	}
	.header .nav a{
		padding: 15px;
	}
	
}



.slide-div{
	background: url("./woodback.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh;
	display: grid;
	place-items: center;
}

.slide-div img{
	border-radius: 20px;
	width: 50%;
}

@media screen and (max-width: 800px){
	.slide-div img{
		width: 80%;
		height: auto;
	}
}

.aboutUs{
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 70px;
	background-color: white;
	color: black;
	height: 100vh;
}

.aboutUs h1{
	font-family: Cinzel;
	font-size: 40px;
}

.aboutUs p{

	font-size: 25px;
}

#aboutUs-img-container{
	padding-top: 4vh;
}

.Events{
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 70px;
	background-color: white;
	color: black;
	height: auto;
}

.Events h1{
	font-family: Cinzel;
	font-size: 40px;
}

.img-container{
	display: flex;
	justify-content: space-around;
}

.img-container > div{
	padding: 5vh;
}

.img-container .event-text{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
}

.header .nav :hover{
	background-color: #cdb48c;
	box-shadow: 10px 5px 5px #da977c;
	transition: 0.5s;
}

.slide-div .home-box{
	display: block;
	text-align: center;
	font-family: Cinzel Decorative;
	position: relative;
	transform: translate(0,-50px);
}

.home-box h1{
	font-size: 50px;
	color: white;
}

.footer{
	height: 70vh;
	background-color: black;
	color: white;
	text-align: center;
	padding-top: 70px;
	font-family: oswald;
}
textarea{
	width: 60vh;
	background-color: black;
	color: white;
}

input{
	width: 60vh;
	background-color: black;
	color: white;
}

#form > div{
	padding: 5px;
}

#form{
	width: 70vh;
}

.contact-wrapper{
	height: 50vh;
	position: relative;
	display: flex;
	padding-top: 4vh;
	padding-bottom: 4vh;
	justify-content: space-around;
}

.contact-right-wrapper{
	width: 60vh;
	outline: 2px solid white;
}

button {
	background-color: black;
	color: white;
	font-family: oswald;
}

.location{
	width: 100%;
	outline: 2px solid green;
	position: relative;
	display: flex;
	justify-content: space-between;
}

.material-symbols-outlined {
  font-size: 30px;
  font-variation-settings:
  'FILL' 1
}